.table-1 th{
    font-size: 13px;
}

.table-1 td{
    font-size: 12px;
    font-weight: 400;
}

.employe-action{
    display: flex;
    margin-bottom: 13px;
}

.form-employee{
    margin-right: 10px;
    margin-right: 10px;
}

